@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Home Page";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ที่ใหญ่ที่สุดในหมู่บ้านเพนกวิ้น</p>
    <img src="/images/Logo.jpg"width="55%"/>
</div>
